<div id="editModal" class="modal hidden">
  <div class="modal-content">
    <h4 id="modalItemName">Edit Item</h4>
    <div class="qty-controls editable">
      <input type="number" id="modalQtyInput" min="1" value="1" />
      <span id="unitDisplayText">Unit</span>
      <button id="decreaseModalQty">−</button>
      <button id="increaseModalQty">+</button>
    </div>
    <div class="modal-buttons">
      <button id="saveChanges">Save</button>
      <button id="closeModal">Cancel</button>
    </div>
  </div>
</div>