<div id="share-modal" class="add-collab-modal modal hidden">
  <div class="modal-content" id="share-modal-content">
    <span class="close-btn" onclick="closeShareModal()">&times;</span>
    <h4>Share Grocery List</h4>
    <form id="share-form">
      <input type="email" id="collaborator-email" placeholder="Enter email" required />
      <input type="hidden" id="share-grocery-list-id" />
      <button type="submit" id="add-collab-btn">Add Collaborator</button>
    </form>
  </div>
</div>