<!-- Navbar -->
<nav class="nav-extended foodmate-navbar z-depth-1">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo bebas">FoodMate</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons black-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="nav-link">My Plans</a></li>
            <li><a href="#" class="nav-link">Favourites</a></li>
            <li><a href="#" class="nav-link">Grocery List</a></li>
            <li><a href="/profile" class="nav-link">Profile</a></li>
            <li><a href="/auth/logout" class="nav-link">Log out</a></li>
        </ul>
    </div>
</nav>

<!-- Mobile Menu -->
<ul class="sidenav" id="mobile-nav">
    <li><a href="#">My Plans</a></li>
    <li><a href="#">Favourites</a></li>
    <li><a href="#">Grocery List</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="/auth/logout">Log out</a></li>
</ul>
