<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <h1><%= code %></h1>
    <h5><%= message || "The recipe you're looking for doesn't exist." %></h5>
    <a href="/home" class="btn btn-large orange lighten-1 white-text" style="margin-top: 20px; border-radius: 30px;">Go Back Home</a>
  </body>
</html>