<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/mealPlan.css" />
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="meal-header">
            <a id="prev-week">&lt;</a>
            <span id="week-range">MEAL PLAN</span>
            <a id="next-week">&gt;</a>
          </div>
          
          <div id="meal-container">
            <div class="loading">
              <div class="spinner"></div>
              <p>Loading meal plan...</p>
            </div>
          </div>

          <div id="confirmDeleteModal" class="modal">
            <div class="modal-content">
              <h5>Confirm Delete</h5>
              <p id="delete-modal-text"></p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close btn-flat red-text" id="confirm-delete-btn">Delete</a>
              <a href="#!" class="modal-close btn-flat">Cancel</a>
            </div>
          </div>

    </body>
    <%- include('partials/scripts') %>
</html>
