<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meal Plan Management</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <h1>Meal Plan Management</h1>
  <p>Welcome to the Meal Plan Management page!</p>
</body>
</html>
