<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/recipe.css" />
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container recipe-container" id="recipe-container"></div>
    </body>
    <%- include('partials/scripts') %>
</html>
