<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/recipe.css" />
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container recipe-container" id="recipe-container">

        </div>
                <%- include("partials/recipes/add-to-meal-modal") %>

    </body>
    <%- include('partials/scripts') %>
</html>
