<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Register - FoodMate</title>

        <link rel="stylesheet" href="/css/register.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="auth-page">
        <div class="auth-card z-depth-1">
            <h5>Create Your FoodMate Account</h5>
            <p>Sign up to start planning meals</p>

            <form id="registerForm">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" placeholder="Email" required />
                </div>

                <div class="input-field">
                    <input
                        type="password"
                        name="password"
                        id="password"
                        type="password"
                        class="password-toggle"
                        placeholder="Password"
                        required
                    />
                    <span
                        toggle="#password"
                        class="material-icons toggle-password"
                        style="cursor: pointer; position: absolute; right: 10px; top: 10px"
                    >
                        visibility
                    </span>
                </div>

                <div class="input-field">
                    <input
                        type="password"
                        name="confirmPassword"
                        type="password"
                        class="password-toggle"
                        id="confirmPassword"
                        placeholder="Confirm Password"
                        required
                    />
                    <span
                        toggle="#confirmPassword"
                        class="material-icons toggle-password"
                        style="cursor: pointer; position: absolute; right: 10px; top: 10px"
                    >
                        visibility
                    </span>
                </div>

                <div id="registerErrorMessage" style="color: red; text-align: center; margin-bottom: 1rem"></div>

                <button type="submit" class="btn waves-effect waves-light">Sign Up</button>
            </form>

            <div class="footer-link">
                Already have an account?
                <a href="/">Login</a>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/register.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </body>
</html>
