<div class="row" id="meal-list">
    <!-- Example card -->
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="/img/tacos.jpg" />
                <span class="card-title">Chicken Tacos</span>
            </div>
            <div class="card-content">
                <p>
                    30 min • 900 kcal
                    <br />
                    Kid Friendly • Air Fryer
                </p>
            </div>
        </div>
    </div>
</div>
