<div class="category-strip">
    <div class="category-item">
        <img src="/img/food-categories/breakfast.svg" alt="Breakfast" />
        <p>Breakfast</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/lunch.svg" alt="Lunch" />
        <p>Lunch</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/dinner.svg" alt="Dinner" />
        <p>Dinner</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/snack.svg" alt="Snacks" />
        <p>Snacks</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/dessert.svg" alt="Dessert" />
        <p>Dessert</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/italian.svg" alt="Italian" />
        <p>Italian</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/mexican.svg" alt="Mexican" />
        <p>Mexican</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/japanese.svg" alt="Japanese" />
        <p>Japanese</p>
    </div>

    <div class="category-item">
        <img src="/img/food-categories/indian.svg" alt="Indian" />
        <p>Indian</p>
    </div>
    
    <div class="category-item">
        <img src="/img/food-categories/chinese.svg" alt="Chinese" />
        <p>Chinese</p>
    </div>
</div>
