<div class="category-strip">
    <div class="category-item active">
        <img src="/img/food-categories/egg-hard-boiled.svg" alt="Breakfast" />
        <p>Breakfast</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/sandwich-burger.svg" alt="Lunch" />
        <p>Lunch</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/chicken.svg" alt="Dinner" />
        <p>Dinner</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/pizza.svg" alt="Snacks" />
        <p>Snacks</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/ice-cream-sundae-01.svg" alt="Dessert" />
        <p>Dessert</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/pasta.svg" alt="Italian" />
        <p>Italian</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/taco.svg" alt="Mexican" />
        <p>Mexican</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/sushi.svg" alt="Japanese" />
        <p>Japanese</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/curry.svg" alt="Indian" />
        <p>Indian</p>
    </div>
    <div class="category-item">
        <img src="/img/food-categories/mango.svg" alt="Thai" />
        <p>Thai</p>
    </div>
</div>
