<div class="diet-tags">
    <!-- Static diet tags -->
    <div class="tag">Vegan</div>
    <div class="tag">Vegetarian</div>
    <div class="tag">Dairy-Free</div>
    <div class="tag">Gluten-Free</div>
    <div class="tag">Pescatarian</div>
    <div class="tag">Low-Carb / Keto</div>
    <div class="tag">High-Protein</div>
    <div class="tag">Low-Fat</div>
    <div class="tag">Sugar-Free</div>
    <div class="tag">Nut-Free</div>
    <div class="tag">Soy-Free</div>
    <div class="tag">Low-Sodium</div>
    <div class="tag">Whole30</div>
    <div class="tag">Paleo</div>
    <div class="tag">Mediterranean</div>
    <div class="tag">No Red Meat</div>
    <div class="tag">Low Sugar</div>
    <div class="tag">Low Calorie</div>
    <div class="tag">Plant-Based</div>

    <!-- Allergy Tag w/ Dropdown -->
    <div class="tag" id="allergy-dropdown-trigger" style="position: relative; cursor: pointer">
        Allergies
        <i class="material-icons" style="font-size: 18px; vertical-align: middle">arrow_drop_down</i>

        <!-- Dropdown Menu -->
        <div
            id="allergy-dropdown"
            class="allergy-dropdown z-depth-1"
            style="
                display: none;
                background: white;
                padding: 10px;
                position: absolute;
                top: 30px;
                left: 0;
                z-index: 10;
                width: 200px;
            "
        >
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Peanuts" />
                    <span>Peanuts</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Shellfish" />
                    <span>Shellfish</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Eggs" />
                    <span>Eggs</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Milk" />
                    <span>Milk</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Tree Nuts" />
                    <span>Tree Nuts</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Wheat" />
                    <span>Wheat</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Soy" />
                    <span>Soy</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="allergies" value="Fish" />
                    <span>Fish</span>
                </label>
            </p>
        </div>
    </div>
</div>
 