<div class="diet-tags">
    <div class="tag">Vegan</div>
    <div class="tag active">Dairy-Free</div>
    <div class="tag">High-Protein</div>
    <div class="tag">Halal</div>
    <div class="tag">Pescatarian</div>
    <div class="tag">Low-Carb / Keto</div>
    <div class="tag">Low-Fat</div>
</div>
