<div class="diet-tags">
    <div class="tag">Vegan</div>
    <div class="tag">Vegetarian</div>
    <div class="tag">Dairy-Free</div>
    <div class="tag">Gluten-Free</div>
    <div class="tag">Pescatarian</div>
    <div class="tag">Low-Carb / Keto</div>
    <div class="tag">High-Protein</div>
    <div class="tag">Low-Fat</div>
    <div class="tag">Sugar-Free</div>
    <div class="tag">Nut-Free</div>
    <div class="tag">Soy-Free</div>
    <div class="tag">Low-Sodium</div>
    <div class="tag">Whole30</div>
    <div class="tag">Paleo</div>
    <div class="tag">Mediterranean</div>
    <div class="tag">No Red Meat</div>
    <div class="tag">Low Sugar</div>
    <div class="tag">Low Calorie</div>
    <div class="tag">Plant-Based</div>

    <!-- Allergy Tag -->
    <div class="tag" id="allergy-dropdown-trigger" style="position: relative;">
        Allergies
        <i class="material-icons" style="font-size: 18px; vertical-align: middle;">arrow_drop_down</i>

        <!-- Allergy Dropdown -->
        <div id="allergy-dropdown" class="allergy-dropdown" style="display: none;">
            <div class="checkbox-option">
                <input type="checkbox" id="peanuts" name="allergies" value="Peanuts" />
                <label for="peanuts">Peanuts</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="shellfish" name="allergies" value="Shellfish" />
                <label for="shellfish">Shellfish</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="eggs" name="allergies" value="Eggs" />
                <label for="eggs">Eggs</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="milk" name="allergies" value="Milk" />
                <label for="milk">Milk</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="tree-nuts" name="allergies" value="Tree Nuts" />
                <label for="tree-nuts">Tree Nuts</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="wheat" name="allergies" value="Wheat" />
                <label for="wheat">Wheat</label>
            </div>

            <div class="checkbox-option">
                <input type="checkbox" id="soy" name="allergies" value="Soy" />
                <label for="soy">Soy</label>
            </div>
            
            <div class="checkbox-option">
                <input type="checkbox" id="fish" name="allergies" value="Fish" />
                <label for="fish">Fish</label>
            </div>
        </div> 
    </div>
</div>
